h1 { 
color: #5A3A2E;
text-align: center;
font-size: 50px;
}

h1 :hover {
 transition: transform 0.3s ease;
    transform-origin: center;
}

h1:hover{
     transform: scale(1.15);
}

h2:hover {
 transition: transform 0.3s ease;
    transform-origin: center;
}

h2:hover{
     transform: scale(1.15);
}

h3:hover {

    transition: transform 0.3s ease;
    transform-origin: left center;
}

h3:hover {

    transform: scale(1.15);
}

body {
background: linear-gradient( #beb3a4, #B89B8C, #d1cac0, #D6BFAF );
background-size: 400%, 400%;
animation: gradientMove 18s ease infinite;
color: #2E1F1B;
font-family: 'Playfair Display', serif;
}

@keyframes gradientMove { 
    0%
{
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}

h2 {

    color: #5A3A2E;
text-align: center;
font-size: 50px;
}

h3 {

   color:  #5A3A2E;
    text-align: left;
    font-size: 30px;
}

ul {
color: #2E1F1B;
text-align: left;
font-size: 20px;
}

.price {

    color: #caa050;
}

hr {
    color: #caa050;
}

.product img {

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
}

.product img:hover {

transform: scale(1.08); translateY(-8px);
box-shadow:0 10px 25px rgb(0 0,0,0.25);
}

.product ul li{

    transition: transform 0.3s ease;
    transform-origin: left center;
}

.product:hover ul li {
    transform: scale(1.15);
}

.product {

    background-color: rgba(119, 98, 98, 0.6);
    padding: 25px;
    margin: 40px; auto ;
    width: 70%; 
    border-radius: 20px; 
    box-shadow: 0 8px 20px rgb(0,0,0,0.15);
    transition: transform 0.3s ease;
}

.product {

    transform: translateY(-1opx);
}


